.z-index {
  z-index: 9999;
}

.select-container {
  display: inline-block;
  position: relative;
  z-index: 999;
}

  .font-button {
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 8px;
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: black;
    z-index: 999;
  }

.fontButtonContainer {
   z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* establece el wrap para que los botones se distribuyan en varias líneas */
  gap: 5px; /* ajusta el espacio entre los botones */
  position: static; /* fija la barra de botones en la página: static para que aparezca en la parte superior, fixed para que quede flotando */
  top: 0; /* fija la barra de botones en la parte superior de la página */
  left: 0; /* fija la barra de botones en el margen izquierdo */
  right: 0; /* fija la barra de botones en el margen derecho */
  margin: auto; /* centra la barra de botones horizontalmente */
}
  
  /* Estilo para el desplegable */
  select {
    padding: 8px 4px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 6px;
    text-align: center;
    text-decoration: none;
    background-color: white;
  }
  
  select option {
  text-align: left;
}
